{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block content %}
<div class="container">
      <h2 class="sub-header">Add a new teacher</h2>
      <form action="" method="post">
            {{form.hidden_tag()}}
            <div class="table-responsive">
                <table>
                    {{ render_field(form.first_name, size=20) }}
                    {{ render_field(form.last_name, size=20) }}
                    {{ render_field(form.email, size=60) }}
                    <tr>
                        <td></td>
                        <td><button type="submit">Submit</button></td>
                    </tr>
                </table>
            </div>
      </form>
</div>
{% endblock %}