{% extends "base.html" %}

{% block content %}
    <div class="container">
          <h2 class="sub-header">Teachers</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
              {% for teacher in teachers %}
                <tr>
                  <td>1,001</td>
                  <td>{{ teacher }}</td>
                  <td>{{ teacher.email }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>
{% endblock %}